<!DOCTYPE html>
<html>
<head>

	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>AddRationCard</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<link rel="stylesheet" href="/resources/demos/style.css">
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	{% load static %}
	<style type="text/css">
		#d1 {
		  border-radius: 0px;
		  background-color: #f2f2f2;
		  border-radius: 10px;
		  padding: 20px;
		  border: 20px;
			}
		body {
			background-image: url("{% static 'assets/images/new1.jpg' %}");
			  background-repeat: no-repeat;
			  background-attachment: fixed;
			  background-size: cover;
			}
	</style>
	<script>
		$( function() {
		  $( "#id_IssuedDate" ).datepicker();
		  $( "#id_BirthDate" ).datepicker();
		} );
		</script>
</head>
<body>
	<div class="container col-sm-6 mt-5 mb-5" id="d1">
		<div class= "container mt-2 mb-4">
			<legend><center><h1 style="color:rgb(0, 0, 0)"><b>Add Kick Card</b></h1></center></legend>
		</div>
		<form class="form-horizontal" method="POST" enctype="multipart/form-data">
		<fieldset>
				{% csrf_token %}
				{{form.as_p}}

		
			<!-- <button class="btn btn-primary" type="submit" value="Submit">Submit</button> -->
			<div class="container mt-4 mb-1">
                <button type="submit" class="btn btn-success col-sm-2">Submit</button>
				<button type="reset" class="btn btn-primary col-sm-2 offset-sm-5" >Reset</button>
                <a class="btn btn-danger col-sm-2" href="{% url 'index' %}">Home</a>
            </div> 
		</fieldset>
		</form>
	</div>
</body>
</html>
