{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="w3l-contact-breadcrum">
  <div class="breadcrum-bg">
    <div class="container py-5">
      <p><a href="index.html">Home</a> &nbsp; / &nbsp; Contact</p>
      <h2 class="my-3">Contact Us</h2>
    
      <p>If you would like to contact us regarding our online ration system or grain marketing, we are here to assist you. You can reach us through the Below form:
      </p>
    </div>
  </div>
</section>
<div class="contact-form section-gap pt-5" id="contact">
     <div class="container py-lg-5 py-md-4">
         
         
         <div class="contacts12-main mb-5">
             <form  method="post">
                 <div class="main-input">
                     <!-- <div class="d-grid">
                         <input type="text" name="w3lName" id="w3lName" placeholder="Your Name" class="contact-input">
                         <input type="text" name="w3lPhone" id="w3lPhone" placeholder="Phone Number" class="contact-input">
                     </div>
                     <div class="d-grid">
                         <input type="email" name="w3lSender" id="w3lSender" placeholder="Your Email id" class="contact-input" required="">
                         <input type="text" name="w3lSubject" id="w3lSubject" placeholder="Subject" class="contact-input">
                     </div> -->
                     {% csrf_token %}
                    {{form}}
                    </div>
                 
                 <div class="text-right">
                     <button class="btn btn-secondary btn-theme2">Submit</button>
                 </div>
             </form>
         </div>
		 <div class="row">
             <div class="col-md-12">
                 <div class="row">
                     <div class="col-lg-4 col-md-6">
                         <div class="contact-address">
                             <ul>
                                 <li class="icon-color"><span class="fa fa-map-marker"></span> <span>Office No. 12, Sanidhya Building
                                         <br>Ashram Road, Ahmedabad - 380009.</span> </li>
                             </ul>
                         </div>
                     </div>
                     <div class="col-lg-4 col-md-6 mt-md-0 mt-4">
                         <div class="contact-address">
                             <ul>
                                 <li class="icon-color"><span class="fa fa-phone"></span> <span><a class="" href="tel:+(21)-234-9999">Phone :+(21)-234-9999</a>
                                    <a class="" href="tel:+91 9727835207">Fax :+91 9727835207</a></span></li>
                             </ul>
                         </div>
                     </div>
                     <div class="col-lg-4 col-md-6 mt-lg-0 mt-4">
                         <div class="contact-address">
                             <ul>
                                 <li class="icon-color"><span class="fa fa-mail-reply"></span><span>
                                     <a href="mailto:ration@govt.co.in"> ration@govt.co.in</a>
                                     <a href="mailto:m.mangroliya0603@gmail.com"> m.mangroliya0603@gmail.com</a>
                                 </span></li>
                             </ul>
                         </div> 
                     </div>
                 </div>
             </div>
         </div>
     </div>
    
    </div>
<!-- contact -->
<section class="w3l-contacts-12" id="">
    <div class="contact-top">
     
        <!-- map -->
        <div class="map map mt-md-0 mt-5">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d917.9925985207947!2d72.57069782923172!3d23.02485923332554!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e84f4853c0001%3A0xcaaf3422be95a142!2sTechmicra%20IT%20Solutions!5e0!3m2!1sen!2sin!4v1617103280953!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
        <!-- //map -->
    </div>
</section>
<!-- //contact -->
<!-- grids block 5 -->
{% endblock %}